npm-debug.log

# Ingredients
ingredients/node_modules
ingredients/public/js/main.js

# Ingredients styled
ingredients-styled/node_modules
ingredients-styled/npm-debug.log
ingredients-styled/public/js/main.js
